<<<<<<< HEAD
h1, h2 {
    font-family: "Sekuya", system-ui;
color: brown;
}
body, p {
    font-family: "Open Sans", sans-serif;
    background-color: blueviolet;
    padding: 40px 20px;
=======
ul, li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
    background-color: yellowgreen;
    padding: 40px 20px;
    margin-bottom: 16px;
}
footer {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:aquamarine;
    background-color: violet;
    padding: 40px 20px;
    margin-bottom: 16px;
>>>>>>> origin/estilos-daniel
}